.frame-child {
  position: relative;
  border-radius: var(--br-xl);
  width: 612px;
  height: 436px;
  overflow: hidden;
  flex-shrink: 0;
}
.database-02-icon,
.database-02-wrapper {
  width: 48px;
  overflow: hidden;
  flex-shrink: 0;
}
.database-02-icon {
  position: relative;
  height: 48px;
}
.database-02-wrapper {
  border-radius: var(--br-3xs);
  height: 49px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  box-sizing: border-box;
}
.full-stack-developer {
  flex: 1;
  position: relative;
  line-height: 110%;
}
.frame-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.result-driven-detail-oriented {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.result-driven-detail-oriented-wrapper {
  display: flex;
  justify-content: center;
}
.frame-parent3,
.frame-parent5,
.result-driven-detail-oriented-wrapper {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent5 {
  display: flex;
  justify-content: center;
  gap: var(--gap-xs);
  font-size: var(--font-size-base);
}
.frame-parent3 {
  gap: var(--gap-base);
}
.frame-parent1,
.frame-parent2,
.frame-parent3 {
  display: flex;
  justify-content: center;
}
.frame-parent2 {
  width: 612px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-45xl);
}
.frame-parent1 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gap-37xl);
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-gray);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .frame-parent1 {
    flex-direction: column;
    gap: var(--gap-37xl);
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 960px) {
  .frame-parent1 {
    flex-direction: column;
    gap: var(--gap-37xl);
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 420px) {
  .frame-parent1 {
    flex-direction: column;
    gap: var(--gap-37xl);
    align-items: center;
    justify-content: center;
  }
}
